/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Styles généraux */
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #282c37;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

/* Styles pour le formulaire */
form {
    background-color: #363b47;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px #2FD6AE;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #ffffff;
}

.form-control {
    background-color: #474c5b;
    border: none;
    color: #ffffff;
}

.form-check-label {
    color: #ffffff;
}

.form-check-input:checked + .form-check-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary {
    background-color: #2FD6AE !important;
    border: none;
    color: #091926;
    padding: 15px;
    font-weight: 500;
}

.form-check-input[type="checkbox"] {
    accent-color: #2FD6AE;
    cursor: pointer; /* Curseur au survol de la checkbox */
}
img {
    height: 50px;
    width: 50px;
}

.heading-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.style-color {
    color: #2FD6AE;
}

/* Styles pour les messages */
.mt-4 {
    margin-top: 1rem;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #4caf50;
}

.alert-info {
    background-color: #007bff;
}

.alert-danger {
    background-color: #f44336;
}

.form-control {
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.form-z {
    box-shadow: 0 0 6px #2FD6AE;
    background-color: #474c5b !important;
}

.password-weak {
    box-shadow: 0 0 6px red !important; /* Fond rouge */
    background-color: #474c5b !important;
}

.password-medium {
    box-shadow: 0 0 6px orange !important; /* Fond orange */
    background-color: #474c5b !important;
}

.password-strong {
    box-shadow: 0 0 6px blue !important; /* Fond bleu */
    background-color: #474c5b !important;
}

#generate_button {
    background-color: #007bff;
    border: none;
}

#generate_button:hover {
    background-color: #0056b3;
}

/* Styles pour le footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #282c37;
    color: #ffffff;
    font-size: 14px;
}
