<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Générateur de mots de passe sécurisés</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
</head>
<body>
<div class="container mt-5">
    <h1 class="heading-title">Secure password
        <span class="style-color">generator</span>
        <img src="{{ url_for('static',filename='logo.png') }}">

    </h1>
    <form method="POST" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="lastname">Nom :</label>
                <input type="text" class="form-control" id="lastname" name="lastname" required>
            </div>
            <div class="form-group col-md-6">
                <label for="firstname">Prénom :</label>
                <input type="text" class="form-control" id="firstname" name="firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="length">Longueur du mot de passe :</label>
            <input type="number" class="form-control" id="length" name="length">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="use_digits" name="use_digits">
            <label class="form-check-label" for="use_digits">Inclure des chiffres</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="use_symbols" name="use_symbols">
            <label class="form-check-label" for="use_symbols">Inclure des symboles</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3" name="generate_button" id="generate_button">Générer le mot de
            passe
        </button>
    </form>
    {% if password %}
    <div class="mt-4">
        <p>Mot de passe généré :</p>
        <input type="text" class="form-control form-z" id="password" readonly value="{{ password }}">
    </div>
    {% endif %}
    {% if power %}
    <div class="mt-4 password-strength">
        <p>Puissance mot de passe :</p>
        <input type="text" id="password-strength" class="form-control" readonly value="{{ power }}">
    </div>
    {% endif %}
    {% if password_hash %}
    <div class="mt-4">
        <p>Hash du mot de passe salé :</p>
        <input type="text" class="form-control form-z" id="password_hash" readonly value="{{ password_hash }}">
    </div>
    {% endif %}
</div>
{% if password %}
<script>
    // Fonction pour copier le texte dans le presse-papiers
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text)
            .then(function () {
                alert("Mot de passe copié dans le presse-papiers : " + text);
            })
            .catch(function (err) {
                console.error("Erreur lors de la copie dans le presse-papiers : " + err);
            });
    }

    const generatedPassword = document.getElementById("password").value;

    copyToClipboard(generatedPassword);

    // Récupérez l'élément du bloc de puissance du mot de passe
    const passwordStrengthBlock = document.getElementById("password-strength");

    // Récupérez la valeur de puissance du mot de passe (par exemple, "faible", "moyen", "fort")
    const passwordStrength = "{{ power }}";

    // Déterminez la classe CSS en fonction de la puissance du mot de passe
    let passwordStrengthClass = "";

    if (passwordStrength === "faible") {
        passwordStrengthClass = "password-weak";
    } else if (passwordStrength === "moyen") {
        passwordStrengthClass = "password-medium";
    } else if (passwordStrength === "fort") {
        passwordStrengthClass = "password-strong";
    }

    // Ajoutez la classe CSS au bloc de puissance du mot de passe
    passwordStrengthBlock.classList.add(passwordStrengthClass);
</script>
{% endif %}
</body>
</html>
